<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Review drafts</title>
	<link rel="stylesheet" href="/static/review.css">
</head>

<body>
	<main>
		<h1>Review drafts</h1>
		{% match draft %}
			{% when Some with (draft) %}
				<video id="video" controls data-call-sid="{{ draft.call_sid }}">
					<source type="video/mp4" src="/review/drafts/{{ draft.call_sid }}.mp4">
				</video>
				<input type="text" id="comment" placeholder="Comment" value="{{ draft.comment }}">
				<div class="controls">
					<button id="approve">
						<span>Approve</span>
						<div id="approve-loader" class="loader"></div>
					</button>
					<button id="reject">
						<span>Reject</span>
						<div id="reject-loader" class="loader"></div>
					</button>
				</div>
				<script src="/static/review.js"></script>
			{% when None %}
				<p>No drafts to review</p>
		{% endmatch %}
	</main>
</body>

</html>
